@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.App {
  font-family: "Open Sans", serif;
  background: white;
  height: 100vh;
  text-align: center;
  color: white;
}

.search_bar {
  margin: 0 auto;
  padding-top: 2em;
  width: 35em;
}
